################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TC/Debug
/TC/.vs/TC/v15
